body{
  background-color: black;
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  vertical-align: middle;
}
div {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
align-content: center;
}